<!DOCTYPE html>
<html>
  <head>
    <title>Manyou-Kadai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header>  
      <div class="container">
        <h1 class = "tasklogo"><%= link_to 'Task Application', tasks_path %></h1>  
      </div>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user.id) %>
        <%= link_to "Logout", session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_path %>
        <%= link_to "Login", new_session_path %>
      <% end %>
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <p class="date"><%= date = Time.new %></p>
        <p class="copyright">T.Oka All Rights Reseerved.</p>
      </div>  
    </footer>
  </body>
</html>
